.main-page {
  padding: 8px;
  margin-top: 0;
  position: relative;
  z-index: 5;
  background: #f1f1f1;

  transition: 0.2s ease-out;
}

.main-page-closed {
  margin-top: 200px;
}

.cal-item {
  margin: 5px 3px 5px 3px;
  padding: 5px;

  width: 30px;
  border-radius: 5px;

  text-align: center;

  background: #ffffff;
  box-shadow: 0 0 1px 0 rgb(0, 0, 0,0.1);

  transition: 0.1s;
}

.cal-item-today {
  background:  #353535;
  color: #f1f1f1;
}

.cal-item-today .cal-item-month {
  color: #f1f1f1;
}

.cal-item-today .cal-item-week {
  color: #f1f1f1;
}

.cal-item-month {
  font-size: 12px;
  color: #999999;
}

.cal-item-week {
  font-size: 10px;
  color: #525252;
}

.cal-item-number {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: -3px;
  margin-top: -1px;
}

.main-page-header {
  display: inline-flex;
}

.main-page-header-wrapper {
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  padding-bottom: 10px;
}

.content-item {
  padding: 10px;
  border-radius: 5px;

  overflow: hidden;
  display: flex;
  
  min-height: 50px;

  border-radius: 5px;
  margin-top: 5px;
  background: #ffffff;
  opacity: 1.0;

  box-shadow: 0 0 1px 0 rgb(0, 0, 0, 0.1);
}

.content-item-time {
  padding: 5px;
}

.content-item-time-up {
  font-weight: 600;
}

.content-item-data {
  padding: 5px;
}

.content-item-data-name {
  text-overflow: ellipsis;
  overflow: hidden;
}

.content-item-data-teacher {
  display: inline-block;
  font-weight: 300;
}

.content-item-data-place {
  display: inline-block;
  margin-right: 10px;
  font-weight: 300;
}

.main-page-content-wrpper {
  width: 100%;
  height: calc(100vh - 93px);
  overflow-x: hidden;
  overflow-y: auto;
}

.main-page-content {
  margin: 10px 0 5px 0;
  border-radius: 5px;
}

.main-page-content-header {
  font-size: 0.8em;
  font-weight: 600;
  text-transform: lowercase;
  color: #929292;
}

#mainpage {
  opacity: 1.0;
  transition: 0.1s;
}

#mainpage[down] {
  opacity: 0.0;
}

.main-page-info {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 200px;
  background: #95a3d3;
  border-radius: 0 0 0 60px;
  z-index: 3;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: 0.2s ease-out;
}

.main-page-info-closed {
  top: -200px;
}

.main-page-info-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  font-weight: 800;
  color: #ffffff;

  font-size: 1.5em;
}

.main-page-info-reconnect {
  text-transform: uppercase;

  position: absolute;
  right: 10px;
  top: 10px;
  user-select: none;
  width: 80px;
  height: 30px;
  line-height: 30px;
  background: #4c62aa;
  color: #ffffff;
  border-radius: 5px;
  text-align: center;

  font-size: 0.6em;

  font-weight: 600;
}

.info-text-up {
  color: #ffffff;
  font-weight: 300;
}

.info-text-main {
  font-size: 1.5em;
  font-weight: 600;
  color: #ffffff;
}




